.text{
    font-size: 1.5rem;
    margin-top: 17%;
    }
.box{
    display:block;
    margin:auto;
    min-width: 300px;
}
.wrapper-nomination
{
    border: 1.5px solid rgb(226, 224, 224);
    padding:10px;
    margin-top: 2%;
    width:90%;
    margin-left:2%;
}
.header-link{
    margin-left:1.5%;
    margin-top: 2%;
    margin-bottom:2%;
    
}
